<div id="board">
  <% for i in 0..18 %>
    <div class="vertical-line" style="left: <%= i * 2 + 2 %>em"></div>
    <div class="horizontal-line" style="top: <%= i * 2 + 1 %>em"></div>
  <% end %>
  <table>
    <tbody>
      <% for i in 0..18 %>
        <tr class="board-row">
          <% for j in 0..18 %>
            <td data-x="<%=j%>" data-y="<%=i%>" data-reflex="click->Board#play">
              <div class = "board-tile">
                <div class="tile-<%= game.board[i][j].to_s %>"></div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>