<div id="board">
  <h2>
    <span><%= game.next_move.to_s %>'s move</span>
    <span> - Red captures: <%= game.red_captures %></span>
    <span> - Blue captures: <%= game.blue_captures %></span>
  </h2>
  <% if session.id.to_s != game.red_player && session.id.to_s != game.blue_player %>
    <% if game.red_player.nil? %><button data-color="red" data-reflex="click->Board#join">Join as Red</button><% end %>
    <% if game.blue_player.nil? %><button data-color="blue" data-reflex="click->Board#join">Join as Blue</button><% end %>
  <% end %>
  <table>
    <tbody>
      <% for i in 0..18 %>
        <tr class="board-row">
          <% for j in 0..18 %>
            <td data-x="<%=j%>" data-y="<%=i%>" data-reflex="click->Board#play">
              <div class = "board-tile">
                <div class="tile-<%= game.board[i][j].to_s %>"></div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>